<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Editar prazos por distância
    </a>
  </div>
</nav>

<div class="btnAdd">
  <a class="btn btn-outline-danger" href="<%= modality_deadlines_path(@modality) %>" role="button">Voltar</a>
</div>
<br>

<%= render 'form' %>