p {
    color: blue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container-card {
    display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   
}

.card {
    margin:30px;
}

.alertField{
    margin: 30px;
    text-align: center;
}

.btnAdd {
    position: relative;
    left: 30px;    
}

.btn-sair{
    display: flex;    
    justify-content: flex-end;
    position: relative;
    right: 20px; 
    margin: 10px; 
}

.txt-email{
    display: flex;    
    justify-content: flex-end;
    position: relative;
    right: 20px; 
    margin: 7px;
}

.btn-container-index{     
    margin: 2px auto 0 auto;			
	width: 500px;		
	display: flex;                  
	flex-direction: column;         
	justify-content: center;    
		
}

.btn-item{
    margin: 15px;
    width: 500px;
}