p {
    color: blue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container-card {
    display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   
}

.card {
    margin:30px;
}

.alertField{
    margin: 30px;
    text-align: center;
}

.btnAdd {
    position: relative;
    left: 30px;    
}