
<div class="btn-container-index">
  <div class="btn-item">
  <a class="btn btn-primary btn-lg btn-block" href="<%= new_user_adm_session_path %>" role="button">Log in como usuário administrador</a>
  </div>

  <div class="btn-item">
  <a class="btn btn-secondary btn-lg btn-block" href="#" role="button">Log in como usuário regular </a>
  </div>

  <div class="btn-item">
  <a class="btn btn-success btn-lg btn-block" href="#" role="button">Consultar entrega</a>
  </div>

  
</div>