<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Tabela de preços
    </a>
  </div>
</nav>

<div class="btn-container-index">
  <div class="btn-item">
  <a class="btn btn-primary btn-lg btn-block" href="<%= modality_weight_prices_path(@modality) %>" role="button">Acessar tabela de configuração do preços por peso</a>
  </div>

  <div class="btn-item">
  <a class="btn btn-secondary btn-lg btn-block" href="<%=  modality_distance_prices_path(@modality) %>" role="button">Acessar tabela de configuração do preços por distância</a>
  </div>

  <div class="btn-item">
  <a class="btn btn-success btn-lg btn-block" href="<%= modality_deadlines_path(@modality) %>" role="button">Acessar tabela de configuração por prazos</a>
  </div> 

  
</div>

