<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Ordem de Serviço
    </a>
  </div>
</nav>

<% if @work_orders.empty? %>
  <div class="alertField">
    <div class="alert alert-warning" role="alert">
      Não existe ordens de serviço pendente
    </div>
  </div>
<% else %>
  <%= render 'list' %>
<%end%>