<div class="btnAdd">
  <a class="btn btn-outline-danger" href="<%= search_field_work_orders_path %>" role="button">Voltar</a>
</div>
<br>

<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Resultado da Busca por: <%= @delivery_code %>
    </a>
  </div>
</nav>




<% unless @delivery_code.blank? %> 
<%= render 'card' %>
<% end %>