<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Ordem de Serviço
    </a>
  </div>
</nav>

<h1>detalhes do pedido</h1>
<div class="btnAdd">
  <a class="btn btn-primary" href="<%= new_work_order_open_work_order_path(work_order_id: @work_order.id) %>" role="button">Iniciar Ordem de Serviço</a>
</div>
