.table-container{
    width: 500px;
    margin: 10px;
    position: relative;
    left: 25px;
}

.table-container-order{
    width: 700px;
    margin: 10px;
    position: relative;
    left: 25px;
    text-align: center;
}

 .table-space{
    width: 20%;
    margin: 10px;
    
}
/* .table-container-prices{
    display: flex;    
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}  */

.table-container-prices{
    width: 700px;
    margin: 10px;
    position: relative;
    left: 25px;
}